@tailwind base;
@tailwind components;
@tailwind utilities;


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.table-cell {
    padding: 0.5rem;
    padding-right: 0;

    line-height: 1.25rem;
    text-align: left;
}
@media screen and (min-width: 640px) {
    .table-cell {
        padding: 0.75rem;
        padding-right: 0;

        line-height: 1.5rem;
    }
}